body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	justify-content: center;
	align-items: center;
}
  
.logo-container img {
	width: 400vw;
	max-width: 300px;
	margin-bottom: 0.3vh;
	display: flex;
}

main {
	padding: 5vh;
}

section {
	margin-bottom: 10vh;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

li {
	margin-bottom: 3vh;
}

h2 {
  font-family: 'DM Serif Display', serif;
  color: rgb(212, 41, 69);
	margin-bottom: 5vh;
	padding-bottom: 20px;
	font-size: 10vw;
}

h2b {
  font-family: 'DM Serif Display', serif;
  color: rgb(212, 41, 69);
	margin-bottom: 3vh;
	font-size: 9vw;
  font-weight: bold;
}

h3 {
  color: #d41f5f;
	margin-bottom: 3vh;
	padding-top: 15px;
	font-size: 5vw;
  font-weight: bold;
}

p {
  color: #6b6b6b;
	margin-bottom: 0.1vh;
	font-size: 5vw;
}

pb {
  color: #6b6b6b;
	font-size: 5vw;
  font-weight: bold;
}

p1 {
	color: rgb(147, 147, 147);
	margin-bottom: 0.2vh;
	font-size: 4vw;
}

.item-title {
	font-weight: bold;
	font-size: 5vw;
}

.item-desc {
	font-size: 4vw;
}

.blink {
	animation: blinker 1s linear infinite;
}

.instagram {
	display: inline-block;
	height: 5vh;
	width: 5vh;
	background-image: url('instagram.png');
	background-size: cover;
}

footer {
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 8vw;
	color: #666;
	margin-bottom: 20px;
  }
  
  footer a {
	display: flex;
	align-items: center;
	color: #e91e63;
	text-decoration: none;
  }
  
  footer .icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	animation: blink 1s linear infinite;
  }
  
  footer span {
	animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  footer a:hover {
	text-decoration: underline;
  }
  
