/* Add your styles here */
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #d71e5f;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: #d71e5f;
}

.logo img {
	height: 120px;
	align-items: center;
}

.social-media {
	display: flex;
}

.social-media a {
	margin-left: 10px;
}

.social-media i {
	color: #d71e5f;
	font-size: 24px;
}

.social-media a:hover i {
	color: #777;
}

main {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	margin-bottom: 20px;
}

.menu-item {
	margin-bottom: 50px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
